body {

    background: linear-gradient(darkred,yellow);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{

    background: white;
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.box p {

    font-size: 18px;
    margin: 0;
    font-weight: bold;

}

.box input {

    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: silver;

}

.box button {

    padding: 10px;
    background: darkblue;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

